/* French letters */
ZMK_UNICODE_PAIR(ae, N0, N0, E, N6,   N0, N0, C, N6)  // æ/Æ
ZMK_UNICODE_PAIR(oe, N0, N1, N5, N3,  N0, N1, N5, N2) // œ/Œ
ZMK_UNICODE_PAIR(a_g, N0, N0, E, N0,   N0, N0, C, N0)  // à/À
ZMK_UNICODE_PAIR(a_c, N0, N0, E, N2,   N0, N0, C, N2)  // â/Â
ZMK_UNICODE_PAIR(c_c, N0, N0, E, N7,   N0, N0, C, N7)  // ç/Ç
ZMK_UNICODE_PAIR(e_g, N0, N0, E, N8,   N0, N0, C, N8)  // è/È
ZMK_UNICODE_PAIR(e_a, N0, N0, E, N9,   N0, N0, C, N9)  // é/É
ZMK_UNICODE_PAIR(e_c, N0, N0, E, A,    N0, N0, C, A)   // ê/Ê
ZMK_UNICODE_PAIR(e_d, N0, N0, E, B,    N0, N0, C, B)   // ë/Ë
ZMK_UNICODE_PAIR(i_c, N0, N0, E, E,    N0, N0, C, E)   // î/Î
ZMK_UNICODE_PAIR(i_d, N0, N0, E, F,    N0, N0, C, F)   // ï/Ï
ZMK_UNICODE_PAIR(o_c, N0, N0, F, N4,   N0, N0, D, N4)  // ô/Ô
ZMK_UNICODE_PAIR(u_g, N0, N0, F, N9,   N0, N0, D, N9)  // ù/Ù
ZMK_UNICODE_PAIR(u_c, N0, N0, F, B,    N0, N0, D, B)   // û/Û
ZMK_UNICODE_PAIR(u_d, N0, N0, F, C,    N0, N0, D, C)   // ü/Ü
ZMK_UNICODE_PAIR(y_d, N0, N0, F, F,    N0, N1, N7, N8) // ÿ/Ÿ

